.image-caption {
    font-size: 25px;
    color: black;
    margin-top: 5px;
    text-align: center;  
}

div a{
    text-decoration: none;
}

.nav-item.dropdown .dropdown-toggle::after {
    content: '';
    position: absolute;
    top: 90%;
    left: 0;
    width: 0%;
    height: 3%;
    background-color: black; 
    transition: width 0.2s ease-in-out; 
    opacity: 0; 
  }
  
  .nav-item.dropdown:hover .dropdown-toggle::after {
    width: 95%; 
    opacity: 1; 
  }

.nav-item.dropdown .dropdown-link:hover {  
    color: orangered;  
  }

.product-image img:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }

  .card {
    border: 2px solid black; 
  }

  .card-title{
    color: black;
  }

h1{
  text-align: center;
  margin-top: 25px;
  font-size: 25px;
}


.card:hover {
  background-color: black; 
}

.card-title:hover{
  color: white;
}

header .navbar { 
    position: fixed;
    top: 0;
    z-index: 100;
  }

.list-unstyled li a:hover {  
  text-decoration: underline;  
}

.image-container3 {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 80%; 
  left: 35%; 
  z-index: 1; 
}

.text-overlay p {
  margin: 0; 
  padding: 5px; 
  background-color: rgba(0, 0, 0, 0.5); 
  color: white; 
}

.text-overlay h1{
  color: wheat;
  font-size: 60px
}

.text-overlay p:hover{
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

.bi-search, .bi-person, .bi-heart, .bi-cart2 {
  font-size: 1rem; 
  margin: 5px 15px; 
  color: black;
}

.image-caption.texto-imagen {
  font-size: 20px;
}

.rebajatachado {
  text-decoration: line-through;
  color: grey;
}

.preciocolor{
  color: orangered;
}

.rebajasclase{
  color: gray;
}

.carouselmargintop{
  margin-top: 58px;
}


